.contact-us-container{
    width:100%;
    height: 90vh;
    background: url('../../assets/contactus/contactus-herobanner.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.contact-us-heading{
    color: #3A3A3A;
    font-family: Open Sans;
    font-size: 64px;
    font-weight: 400;
}
.contact-sub-text{
    color: #000;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 300;
}
@media (max-width:974px) {
    .contact-sub-text{
        width: 100% !important;
    }
}
.contact-item-heading{
    color: #3A3A3A;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.contact-us-item-text{
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}
.conatact-us-item-button{
    border-radius: 10px;
    border: 1px solid #3495DB;
    background: #D8EDF2;
}