.heading{
    color: #000;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 400;
    opacity: 0.7;
}
.ourCollectionShow{
    min-height: 40vh;
    background: rgba(208, 169, 169, 0.10);
}
.our-collection-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}
.collection-proudctname{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.collection-product-code{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
}
.product-hero-dec{
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.product-detail{
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 206.996%;
}
.viewDetail-btn{
    width: 106px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid #EA2F34;
    background: transparent;
    color: #E71117;
    font-size: 12px;
    font-weight: 700;
}