/* Hero Banner css */
.herobannerContainer{
    min-height: 65vh;
    background: linear-gradient(0deg, #080808 0%, rgba(8, 8, 8, 0.00) 100%);
    position: relative;
    transition: all 0.3s ease;
}

.overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #080808 0%, rgba(8, 8, 8, 0.00) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.heroImage{
    object-fit: cover;
    object-position: center;
    height: 65vh;
}
  
@media (max-width:766px) {
    .heroImage{
        height: 80vh;
    }
    .caption-title{
        width: 100% !important;
        font-size: 40px !important;
    }
}
.slidercaption{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.caption-title{
    color: #FFF;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 300;
    line-height: normal;
    width: 70%;
}
.slider-button-next{
    min-height: 69px;
    width: 100%;
    border-radius: 14px;
    opacity: 0.8;
    background: linear-gradient(90deg, #FFF 35.42%, rgba(217, 217, 217, 0.00) 100%);
}
 
.caption-sub-text{
    color: #6A2C2C;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media (max-width:700px) {
    .slider-button-next{
        opacity: 0.6;
        background: #FFF;
    }
    .caption-title{
        font-size: 30px !important;
    }
}

.check-project-button{
    border-radius: 10px;
    background: #E71117;
    border: none;
    color: #FFF;
    width: 100%;
    min-height: 40px;
}
.slidebuttonIndicator{
    width: 30px;
    min-height: 8px;
    border-radius: 3.5px;
    opacity: 0.5;
    background: #FFF;
    border: none;
}
.activeIndicator{
    background: #E71117 !important;
    opacity: 100% !important;
}

/* Top show room product css */
.topshowroomproduct-container{
    margin-top: 80px;
    margin-bottom: 80px;
}
.topshowproductImageContainer{
    overflow-x: auto;
    white-space: nowrap;
}
.topshowproductImageContainer::-webkit-scrollbar {
    width: 0;
    background: transparent;  
}
.topshowroom-heading-text{
    color: #000;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.topshowroom-sub-text{
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 206.996%;
}
.moreItem-text{
    color: #E71117;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.btn-showmore{
  border: none;
  background-color: transparent;
}

/* New arrival css */
.productImage{
    background:#6A2C2C;
}
.newproduct::-webkit-scrollbar {
    width: 0;
    background: transparent;  
}

.new-arrival-heading{
    color: #000;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 400;
    opacity: 0.7;
}




  