.scrollable-container {
    /* Set the maximum height or other dimensions for the container */
    max-height: 800px; /* Adjust this value according to your design */
  
    /* Add the following styles to customize the scrollbar appearance */
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
  
    /* For WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 6px; /* Adjust the width as needed */
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent; /* Adjust the color as needed */
    }
  }
.btn-place-order{
  border-radius: 10px;
  background: #E71117 !important;
  width: 50%;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
  /* place order modal */
  .modal-place-order{
    border-radius: 25px !important;
    background: #1C1C1C !important;
  }
  .modal-heading{
    color: #FFF;
    text-align: center;
    font-size: 28px !important;
    font-weight: 400 !important;
  }
  .modal-sub-text{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 206.996%;
    opacity: 0.5;
  }
  .modal-btn-close{
    background: transparent;
    border: none;
  }