.our-project-hero-banner-container{
    width:100%;
    height: 90vh;
    background-color: #E71117;
    background: url('../../assets/ourproject/ourproject-herobanner.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.ourproject-heading{
    color: #3A3A3A;
    font-family: Open Sans;
    font-size: 64px;
    font-weight: 400;
}
.ourproject-sub-text{
    color: #000;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 300;
}
@media (max-width:600px) {
    .our-project-hero-banner-container{
        background: url('../../assets/ourproject/ourproject-smallscreen.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }
    .ourproject-heading{
        margin-top: 40px;
        font-size: 40px;
        color: #000000e7;
        margin-left: 20px;
    }
    .ourproject-sub-text{
        font-size: 14px;
        margin-top: 20px;
        margin-left: 20px;
    }
    
}
.welcome-heading-text{
    color: #000;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ourproject-text-dec{
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}
.ourProjectcard{
    display: flex;
    align-items: flex-end;  
}
.cardtextContainer{
    /* width: 90%; */
    border-radius: 14px;
    opacity: 1;
    background: linear-gradient(90deg, #FFF 100%, rgba(217, 217, 217, 0.5) 100%);
    margin-left: 20px;
}
.viewMoreBtn{
    width: 139px;
    height: 38px;
    border-radius: 10px;
    background: #E71117;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.productDesc{
    color: #6A2C2C;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}