.CategoryContainer{
    background: #FFF7F7;
    height: 130px;
    width: 100%;
    box-shadow: 0px 1px 7px 0px #00000040;
    z-index: 999;
    transition: all 0.3s ease;
}
.category-card-container{
    gap: 40px;
    overflow-x:auto;
    white-space: nowrap;
}
.category-card-container::-webkit-scrollbar {
    width: 0;
    background: transparent;  
}
.btn-next{
    background-color: transparent;
    border: none;
}
/* Category-Item css */
.category-card{
    width: 69px;
    height: 80%;
    border: none;
    border-radius: 15px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}
.newArrivalNotification{
    position: absolute;
    top: 0;
    right: 10px;
}
.title-text{
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}
.activeCategory{
    background-color: #FFECED !important;
}

.category-card:hover{
    background: #FFECED !important;
}

@media (max-width: 768px) {
    .CategoryContainer {
      height: 90px; /* Adjust the height as needed */
    }
    .category-card {
        height: 60px;
        margin-top: 13px;
    }
  }