.footer-section{
    background: #0E0D0D;
    margin-bottom: 0px !important;
}
.footer-heading{
    color: #FFF;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footerItem{
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footerItem:hover{
    opacity: 1;

}
.subfooter-heading{
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}
.footer-btn{
    background: #E71117 !important;
    font-weight: 700;
}
.copyrightText{
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
}
input:focus{
    -webkit-box-shadow: 0px 0px 4px 2px rgba(231,17,23,1) !important;
    -moz-box-shadow: 0px 0px 4px 2px rgba(231,17,23,1) !important;
    box-shadow: 0px 0px 4px 2px rgba(231,17,23,1) !important;
}