.navbar{
    border-bottom: 0.3px solid #E71117;
}
.active{
  color: #E71117 !important;
  font-weight: 700 !important;
}
.nav-link{
    font-size: 13px;
    font-weight: 400;
}
.nav-link:hover{
    color: #E71117 !important;
}
.contact-us{
    border-radius: 10px;
    background: #E71117;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
}
.contact-us:hover{
    color: #fff !important;
}
.contact-us:focus{
    color: #fff;
}



/* SMALL SCREEN MENU BAR */
.menu-button{
    border: none !important;
}
.menu-button:focus{
    border: none !important;
    box-shadow:  none !important;
}
