.productImage{
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    background:#6A2C2C;
}
.product-name{
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
}
.product-detail{
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
}
.product-viewmore-detail-btn{
    width: 106px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #EA2F34;
    color: #E71117;
    font-size: 12px;
    font-weight: 700;
    background: transparent;
    transition: all 0.3s ease;
}
.product-viewmore-detail-btn:hover{
    background: #EA2F34;
    color: #fff;
}

.NewArrival-Bandage{
    top: 30px;
    left: 0;
    background-color: #000;
    color: #FFF;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
}