/* send-request-section css */
.send-request-section{
    background: #1C1C1C;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.sendrequest-input{
    width: 354px !important;
}
@media (max-width:354px) {
    .sendrequest-input{
        width: 100% !important;
    }
    
}
.sendrequest-btn{
    padding: 8px 30px;
    border-radius: 10px;
    background: #E71117;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.sendRequest-heading{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
}
.sendRequest-subheading{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 206.996%;
    opacity: 0.7;
    width: 40%;
}
@media (max-width:658px) {
    .sendRequest-subheading{
        width: 100%;
        padding-inline: 20px;
    }
    
}
input:focus{
    -webkit-box-shadow: 0px 0px 4px 2px rgba(231,17,23,1) !important;
    -moz-box-shadow: 0px 0px 4px 2px rgba(231,17,23,1) !important;
    box-shadow: 0px 0px 4px 2px rgba(231,17,23,1) !important;
}
.success-message{
    font-weight: 600;
}