.searchInput-container{
    height: 35px;
    width: 200px;
    position: relative;
}
.search-input{
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    border-radius: 15px;
    padding-left: 33px;
    font-size: 14px;
    border: 1px solid #00000065;
}
.search-input:focus{
    transition: all 0.4s ease;
}
#svg-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  