.sugestion-container{
    background: #1C1C1C;
    min-height: 130px;
    width: 100%;
}
.search-suggestion-heading{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
}
.suggestion-items{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: inherit;
    border: 1px solid white;
    color: white;
    padding: 4px 6px;
}

.suggestion-items:hover {
    background-color: red;
    color: white;
}