.aboutus-herobanner-container{
    width:100%;
    height: 90vh;
    background-color: #E71117;
    background: url('../../assets/aboutus/aboutus-her0-banner-image.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.about-us-heading{
    color: #3A3A3A;
    font-family: Open Sans;
    font-size: 64px;
    font-weight: 400;
}
.about-sub-text{
    color: #000;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 300;
}
@media (max-width:974px) {
    .about-sub-text{
        width: 100% !important;
    }
}
.about-text{
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%; /* 23.8px */
}
.about-us-text-contain-container{
    border-radius: 20px;
    background: #F3F3F3;
    min-height: 100px;
}
.about-heading-title{
    color: #000;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 206.996%; /* 82.798px */
}
.about-contain-text{
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
}
.viewOnmap-btn{
    width: 129px;
    height: 39px;
    border-radius: 6px;
    border: 1px solid #EA2F34;
    color: #E71117;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    background: #fff;
    transition: all 0.3s ease;
}
.viewOnmap-btn:hover{
    background: #E71117;
    color: #fff;
}