.promotion-heading{
    color: #000;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 400;
    opacity: 0.7;
}
/* Promotion card css */
.productImage{
    height: 233px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}
.product-name{
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
}
.product-detail{
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
}
.product-viewmore-detail-btn{
    width: 106px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #EA2F34;
    color: #E71117;
    font-size: 12px;
    font-weight: 700;
    background: transparent;
    transition: all 0.3s ease;
}
.product-viewmore-detail-btn:hover{
    background: #EA2F34;
    color: #fff;
}
